<div ng-controller="BasketController">
    <table class="table" ng-show="getNumberOfItems() > 0">
        <caption>Produtos adicionados:</caption>
        <thead>
            <tr>
                <th>Código</th>
                <th>Descriçao</th>
                <th>Quantidade</th>
                <th>Remover</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="basketItem in basket">
                <td>{{basketItem.product.CodArtigo}}</td>
                <td>{{basketItem.product.DescArtigo}}</td>
                <td><button ng-click="decrementQuantity(basketItem)">-</button> {{basketItem.quantity}} <button ng-click="incrementQuantity(basketItem)">+</button></td>
                <td><button ng-click="remove(basketItem)">Remover</button>
            </tr>
            <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
    <p ng-show="getNumberOfItems() === 0">Sem produtos adicionados no carrinho</p>
</div>