<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BelaFlor</title>
    @Styles.Render("~/Content/store-styles")
    <link type="text/css" rel="stylesheet" href="Images/boostrap.min.css" />
    <link type="text/css" rel="stylesheet" href="Images/bootstrap-theme.min.css" />
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body ng-app="belaFlor">
    
    <div class="container">
        <div ui-view="topnavbar"></div>
        <ui-view></ui-view>
    </div>
    
    <!---@RenderBody()--->
   
    
    <script src="Scripts/jquery-2.1.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-resource.min.js"></script>
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Scripts/angular-cookies.min.js"></script>
    <script src="Scripts/angular-ui-router.min.js"></script>

    <script src="Scripts/app.js"></script>
    <script src="Scripts/constants/api-endpoints.js"></script>
    <script src="Scripts/services/authentication.js"></script>
    <script src="Scripts/services/product.js"></script>
    <script src="Scripts/services/basket.js"></script>
    <script src="Scripts/services/order.js"></script>
    <script src="Scripts/controllers/homepage.js"></script>
    <script src="Scripts/controllers/authentication.js"></script>
    <script src="Scripts/controllers/topnavbar.js"></script>
    <script src="Scripts/controllers/basket.js"></script>
    <script src="Scripts/controllers/details.js"></script>
    <!--
    @RenderSection("scripts", required: false)
    -->
</body>
</html>