<div ng-controller="BasketController">
    <div ng-show="getNumberOfItems() > 0">
        <table class="table">
            <caption>Produtos adicionados:</caption>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descriçao</th>
                    <th>Quantidade</th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="basketItem in getBasket()">
                    <td>{{basketItem.product.CodArtigo}}</td>
                    <td>{{basketItem.product.DescArtigo}}</td>
                    <td><button ng-click="decrementQuantity(basketItem)">-</button> {{basketItem.quantity}} <button ng-click="incrementQuantity(basketItem)">+</button></td>
                    <td><button ng-click="remove(basketItem)">Remover</button>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-success" ng-click="makeOrder()">Encomendar</button>
    </div>
    <p ng-show="getNumberOfItems() === 0">Sem produtos adicionados no carrinho</p>
</div>